<nav>
  <app-home-navbar></app-home-navbar>
</nav>
<a [routerLink]="['invoice-downloader']">
  <mat-icon
    class="download-icon"
    aria-hidden="false"
    fontIcon="download"
  ></mat-icon>
</a>
<a [routerLink]="['sign-up']">
  <mat-icon
    class="sign-in-icon"
    aria-hidden="false"
    fontIcon="how_to_reg"
  ></mat-icon>
</a>
<a [routerLink]="['invoice-table']">
  <mat-icon
    class="sign-in-icon"
    aria-hidden="false"
    fontIcon="table"
  ></mat-icon>
</a>
<a [routerLink]="['login']">
  <mat-icon class="login-icon" aria-hidden="false" fontIcon="login"></mat-icon>
</a>
