<div class="container">
  <div class="card-horizontal">
    <div class="card-vertical">
      <h1>Descarga tu factura</h1>
      <p>
        En el caso de que no hayas podido descargar tu factura, favor volvé a
        intentarlo más tarde. El proceso de validación podría demorarse cómo
        máximo 72 Hs.
      </p>

      <mat-radio-group [(ngModel)]="formatoSeleccionado" class="radio-group">
          <mat-radio-button class="radio-button" [value]="0">Formato de factura</mat-radio-button>
          <mat-radio-button class="radio-button" [value]="1">Formato de Ticket</mat-radio-button>
      </mat-radio-group>

      <div class="card-image">
        <img class="img-box"
          src="../../assets/images/factura.webp"
          *ngIf="formatoSeleccionado === 0"
        />
        <img class="img-box"
          src="../../assets/images/ticket.webp"
          *ngIf="formatoSeleccionado === 1"
        />
      </div>

    </div>
    <div class="card-vertical">
      <div class="card-form">
        <div class="card-header titulo">
          Accede con tu CDC a tu factura electronica
        </div>
        <!-- <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>-->
        <form name="findForm" (ngSubmit)="onFind()" class="card-form-content"  [formGroup]="findForm">

            <input
              formControlName="cdc"
              matInput
              placeholder="Ingrese su CDC"
              required
              class="field-input"

            />
            <label class="error-message" *ngIf="!findForm.controls['cdc'].valid">
              CDC es requerido
            </label>

          <div class="flex-item-col">

              <button class="btn-descarga"
                type="submit"
                [disabled]="!findForm.valid">
                <img src="../../assets/images/search.png" alt="icono pdf"/>
                <span>Buscar factura</span>
              </button>


              <ngx-recaptcha2 #captchaElem
                [siteKey]="siteKey"
                formControlName="recaptcha">
              </ngx-recaptcha2>

          </div>
        </form>

        <div class="flex-item-col">
          <p class="info-tittle">Mas informacion en:</p>
          <a class="info-link" href="https://ekuatia.set.gov.py/consultas/"
            >https://ekuatia.set.gov.py/consultas/</a
          >
        </div>

      </div>
    </div>
  </div>
</div>
