.container-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: none;
  box-shadow: none;
}

.invoice-card {
  max-width: 45%;
}

.credential-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credential-title {
  font-weight: 500;
}

.explanation-text {
  max-width: 500px;
  height: 100px;
  margin-bottom: 70px;
}

.select-field {
  margin-top: 20px;
  font-size: x-small;
  display: flex;
  justify-content: flex-start;
}

.invoice-pic {
  max-height: 70%;
  max-width: 70%;
}

.download-button {
  border-radius: 30px;
  color: #fff;
  background-color: rgb(149, 75, 152);
  border: none;
  font-size: 15px;
  padding: 10px, 24px, 10px, 24px;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  background: #954b98;
  border-radius: 100px;
  margin-bottom: 30px;
  margin-top: 20px;
}
