<mat-card class="container-card">
  <mat-card class="invoice-card">
    <h1>Descarga tu factura</h1>
    <p>
      En el caso de que no hayas podido descargar tu factura, favor volvé a
      intentarlo más tarde. El proceso de validación podría demorarse cómo
      máximo 72 Hs.
    </p>
    <mat-card class="toggle">
      <mat-slide-toggle [(ngModel)]="isChecked">{{
        isChecked ? "A4" : "Ticket"
      }}</mat-slide-toggle>
    </mat-card>
    <mat-card class="slide-toggle-container">
      <img
        mat-card-image
        src="../../assets/images/invoice-example.png"
        *ngIf="isChecked == false"
      />
      <img
        mat-card-image
        src="../../assets/images/Screenshot_20221027_114750.png"
        *ngIf="isChecked == true"
      />
    </mat-card>
  </mat-card>
  <mat-card class="credential-card">
    <h2>Accede con tu CDC a tu factura electronica</h2>

    <form (ngSubmit)="onFind()" name="loginForm" [formGroup]="loginForm">
      <div class="cdcInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>CDC</mat-label>
          <input
            formControlName="cdc"
            matInput
            placeholder="Ingrese su CDC"
            required
          />
          <mat-error *ngIf="!loginForm.controls['cdc'].valid">
            CDC es requerido
          </mat-error>
        </mat-form-field>
        <!-- <div class="tooltip">
          <mat-icon
            class="download-icon"
            aria-hidden="false"
            fontIcon="info"
          ></mat-icon>
          <span class="tooltiptext">
            <img
              class="invoice-pic"
              src="../. ./assets/images/invoice-example.png"
              alt=""
          /></span>
        </div> -->
      </div>

      <!-- <mat-form-field class="full-width" appearance="outline">
        <mat-label>PIN</mat-label>
        <input
          formControlName="password"
          matInput
          [type]="hide ? 'password' : 'text'"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide Password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>
            {{ hide ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
        <mat-error *ngIf="!loginForm.controls['password'].valid">
          PIN es requerido
        </mat-error>
      </mat-form-field> -->
      <div>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Seleccione un formato</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="A4">A4</mat-option>
            <mat-option value="Ticket">Ticket</mat-option>
            <mat-option value="PDF">PDF</mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
      <div><button type="submit"  class="download-button">Buscar factura</button></div>
    </form>
    <app-captcha></app-captcha>
    <p class="info-tittle">Mas informacion en:</p>
    <a class="info-link" href="https://ekuatia.set.gov.py/consultas/"
      >https://ekuatia.set.gov.py/consultas/</a
    >
    <!-- <p class="create-account-tittle">
      Crea tu cuenta y accede a tdas tus facturas electronicas
    </p>
    <button class="create-account-button">Crear cuenta</button></mat-card
  > -->
  </mat-card>
</mat-card>
