.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: none;
}

.settings-buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  box-shadow: none;
}

.table-container {
  display: flex;
  flex-direction: column;
  box-shadow: none;
}

.purplebutton {
  border-radius: 30px;
  color: #fff;
  background-color: #673ab7;
  border: none;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 44px;
  background: #673ab7;
}
