<div class="container">
  <div class="card">
    <div class="card-header titulo">
      Documento encontrado
    </div>
    <div class="card-content">
      <div class="card-content-table">
        <label class="label">CDC:</label>
        <span>{{documento[0].cdc}}</span>

        <label class="label">Timbrado:</label>
        <span class="field">{{documento[0].timbrado}}</span>

        <label class="label">Número:</label>
        <span class="field">{{numeroFactura}}</span>

        <label class="label">Fecha Emisión:</label>
        <span class="field">{{documento[0].fechaEmision | date:'d/M/yyyy'}}</span>

        <label class="label">Estado:</label>
        <span class="field">{{documento[0].estado}}</span>
      </div>

    </div>
    <div class="card-footer">
      <button  mat-raised-button (click)="onClickDownloadPdf()" color="primary">Descargar pdf</button>
      <button  mat-raised-button (click)="onClickDownloadXml()" color="primary">Descargar xml</button>
    </div>
  </div>
</div>


