td, th {
  text-align: left;
  padding: 5;
  padding-right: 8px;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}


.header-card{
  display: block;
  justify-content: center;
  font: 15px sans-serif bold;
  padding-bottom: 10;
}

