<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
</head>
<mat-toolbar>
  <!-- <span class="example-spacer"></span> -->
  <a
    class="button"
    mat-flat-button
    href="https://www.google.com/"
    target="_blank"
    >INICIO</a
  >
  <a
    class="button"
    mat-flat-button
    href="https://www.google.com/"
    target="_blank"
    >PRODUCTOS</a
  >

  <a
    class="button"
    mat-flat-button
    href="https://www.google.com/"
    target="_blank"
    >EMPRESA</a
  >
  <img
    src="../../assets/images/logo.png"
    alt="PALERMO SA Logo"
    style="max-width: 11%; min-width: 11%"
  />

  <a
    class="button"
    mat-flat-button
    href="https://www.google.com/"
    target="_blank"
    >COMERCIO INTERNACIONAL</a
  >
  <a
    class="button"
    mat-flat-button
    href="https://www.google.com/"
    target="_blank"
    >MI FACTURA</a
  >

  <!-- <a [routerLink]="['login']">Login</a> -->
  <a [routerLink]="['login']">
    <mat-icon
      class="login-icon"
      aria-hidden="false"
      fontIcon="login"
    ></mat-icon>
  </a>
</mat-toolbar>
