<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
</head>
<mat-toolbar>
  <mat-card class="back-button-container">
    <a [routerLink]="['']">
      <mat-icon
        class="back-icon"
        aria-hidden="false"
        fontIcon="arrow_back"
      ></mat-icon> </a
  ></mat-card>
  <mat-card class="image-container">
    <!-- <img
      src="../../assets/images/logo.png"
      alt="PALERMO SA Logo"
      style="max-width: 11%; min-width: 11%"
    /> -->
    <img
      mat-card-image
      src="../../assets/images/logo.png"
      alt="PALERMO SA Logo"
    />
  </mat-card>
  <!-- <a [routerLink]="['login']">Login</a> -->
  <mat-card class="login-button-container">
    <a [routerLink]="['login']">
      <mat-icon
        class="login-icon"
        aria-hidden="false"
        fontIcon="login"
      ></mat-icon>
    </a>
  </mat-card>
</mat-toolbar>
