<p>
  <mat-toolbar>
    <button>
      <span>INICIO</span>
    </button>

    <!-- <span class="example-spacer"></span> -->
    <button>
      <span>PRODUCTOS</span>
    </button>

    <span class="example-spacer"></span>
    <button>
      <span>EMPRESA</span>
    </button>

    <span class="example-spacer"></span>
    <button>
      <span>COMERCIO INTERNACIONAL</span>
    </button>

    <!-- <span class="example-spacer"></span> -->
    <button>
      <span>MI FACTURA</span>
    </button>

    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
