mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
}

.header {
  text-align: center;
}

.full-width {
  width: 80%;
}

.forgot-password {
  padding-left: 0px;
}

.email-input {
  padding-top: 10px;
}

.aLink {
  float: center;
  text-decoration: none;
}

.title1 {
  font-weight: bold;
  font-size: x-large;
}

.fbbutton {
  /* border-radius: 30px;
  padding: 10px 50px;
  margin: 30px 80px 30px 0px;
  color: #fff;
  background-color: rgb(149, 75, 152);
  border: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 10px;
  width: 200px;
  height: 40px;
  left: 501px;
  top: 237px;
  background: #954b98;
  border-radius: 100px; */
}

.googbutton {
  /* border: 1px solid black;
  border-radius: 30px;
  padding: 10px 50px;
  margin: 0px 0px 0px 20px;
  color: rgb(149, 75, 152);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 10px;
  width: 200px;
  height: 40px;
  left: 501px;
  top: 237px;
  background: #954b98;
  border-radius: 100px; */
}

.purplebutton {
  border-radius: 30px;
  color: #fff;
  background-color: #673ab7;
  border: none;
  font-size: 15px;
  padding: 10px, 24px, 10px, 24px;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 44px;
  background: #673ab7;
  border-radius: 100px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.white-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px, 24px, 10px, 24px;
  border-radius: 30px;
  color: #673ab7;
  border-color: #673ab7;
  border-width: 1px;
  font-size: 15px;
  width: 244px;
  height: 44px;
  background: #ffffff;
  border-radius: 100px;
  margin-bottom: 50px;
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 40px;
}

a:link {
  color: #673ab7;
}

a:visited {
  color: #954b98;
}

a:hover {
  color: hotpink;
}

a:active {
  color: rgb(0, 0, 0);
}
