.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head-container {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  justify-content: center;
  align-items: center;
}

.mandatory-text {
  color: red;
}

/* .fields-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
} */

.fields-container {
  display: flex;
  justify-content: center;
  box-shadow: none;
}

.column-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: none;
}

.column-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: none;
}

.flex-container-signup-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.purplebutton {
  background-color: #673ab7;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  padding: 10px, 24px, 10px, 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 244px;
  height: 44px;
}
.flex-container-signup-bottom > div {
  display: flex;
  justify-content: center;
}

.initial-text {
  margin-right: 8px;
}
